:root{
    --colorclaro:rgb(248, 248, 178);
    --colorboton: rgb(223, 138, 242);    
}

*{
    margin: 0px;
}

.formulario{
   background-color: var(--colorclaro);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

#enviar{
    background-color: var(--colorboton);    
}
